use flake

# Load local overrides (credentials, etc.) if present
source_env_if_exists .envrc.local

export DROPD_APPLE_MUSIC_TOKEN="{{dropd:APPLE_MUSIC_TOKEN}}"
export DROPD_APPLE_USER_TOKEN="{{dropd:APPLE_USER_TOKEN}}"
export DROPD_LASTFM_API_KEY="{{dropd:DROPD_LASTFM_API_KEY}}"
